.chat-bar {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin:0;
}

#chat-container li {
	display: block; /*since the parent's is inline*/
	float: left;
	width: 200px;
	height: 400px;
}

.chat-toggle-button {
	background-color: #00bcd4;
	text-align: center;
	margin: 5;
	border: 5;
}