
{% extends "baseLayout.html" %}

{% block head %}
<style>
.contentWrapper{
  margin: auto;
  max-width: 440px;
}
.content{
  padding: 20px;
  width: 400px;
}
</style>
{% endblock %}

{% block content %}
<div class="content">
    <form action="changeEmailSubmit" method="post">
      <label>Change Email</label>
      <br>
      <br>
      <div class="form-group">
        <input type="email" class="form-control" name="input_newEmail" id="input_newEmail" placeholder="New Email">
      </div>
      <button type="submit" class="btn btn-default pull-right">Change Email</button>
    </form>
</div>
{% endblock %}


{%block modals %}


{% endblock %}
