
{% extends "baseLayout.html" %}

{% block head %}
<style>
.contentWrapper{
  margin: auto;
  max-width: 440px;
}
.content{
  padding: 20px;
  width: 400px;
}
</style>
{% endblock %}

{% block content %}
<div class="content">
    <form action="/changePasswordSubmit" method="post">
      <label>Change Password</label>
      <br>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" name="input_oldPassword" id="input_oldPassword" placeholder="Old Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="input_newPassword1" id="input_newPassword1" placeholder="New Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="input_newPassword2" id="input_newPassword2" placeholder="Verify New Password">
      </div>
      <button type="submit" class="btn btn-default pull-right">Change Password</button>
    </form>
</div>
{% endblock %}


{%block modals %}


{% endblock %}
