
{% extends "baseLayout.html" %}

{% block head %}
<style>
.contentWrapper{
  margin: auto;
  max-width: 440px;
}
.content{
  padding: 20px;
  width: 400px;
}
</style>
{% endblock %}

{% block content %}
<div class="content">
    <form action="/changeUsernameSubmit" method="post">
      <label>Change Username</label>
      <br>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="input_newUsername" id="input_newUsername" placeholder="New Username">
      </div>
      <button type="submit" class="btn btn-default pull-right">Change Username</button>
    </form>
</div>
{% endblock %}


{%block modals %}


{% endblock %}
