
{% extends "baseLayout.html" %}

{% block head %}
<style>
.contentWrapper{
  margin: auto;
  max-width: 800px;
}
.content{
  padding: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="content">
<form action="/{{boardId}}/threadSubmit" method="post" enctype="multipart/form-data">
              <span class="threadSubTitle">Subject:</span>
              <input name="subject" class="input" />
              <span class="threadSubTitle">File:</span>
              <input name="photo" type="file">
              <span class="threadSubTitle">Comment:</span>
              <textarea name="comment" class=""></textarea>
              <input class="submitButton" type="submit">
            </form>
</div>
{% endblock %}


{%block modals %}


{% endblock %}
