
{% extends "baseLayout.html" %}

{% block head %}
<style>
.contentWrapper{
  margin: auto;
  max-width: 800px;
}
.content{
  padding: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="content">
  <form action="/createNewGroupSubmit" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Group Name</label>
      <input type="text" class="form-control" id="input_groupName" placeholder="Enter Group Name">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Private Group #this is ignored for the moment
      </label>
    </div>
    <button type="submit" class="btn btn-default">Create Group</button>
  </form>
</div>
{% endblock %}


{%block modals %}


{% endblock %}
