{% extends "baseLayout.html" %}



{% block head %}
    <link href="/static/threadStyle.css" rel="stylesheet">
    <link href="/static/components.css" rel="stylesheet">
    <style type="text/css">
.threadsWrapper{
  padding-bottom: 0px;
  width: 700px;
  float: left;
  padding: 0;
  border-left: 1px solid rgba(0,0,0,.1);
}
.groupsMenu{
	float: left;
	width: 350px;
	margin-left: 20px;
}
.createNewThread{
	float: right;
	font-size: 18px;
	margin: 10px;
}
.menuItem{
	width: 100%;
	height: 70px;
}
.menuItem.active{
	background-color: rgba(0,0,0,.1);
}
.menuItem:hover{
	background-color: rgba(0,0,0,.1);
}
.createNewGroupWrapper{

}
.createNewGroup{
	margin: 10px;
	float: right;
}
.menuItem .greyCircle{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	float: left;
	display: block;
	background-color: rgba(0,0,0,.1);
	position: relative;
	top: 10px;
	left: 10px;
}
.menuItem .groupNameText{
	position: relative;
	top: 25px;
	left: 20px;
}
.content{
	width: 1171px;
	margin: auto;
}
.header{
	margin-bottom: 0px;
	margin: auto;
}
.error{
	width: 1131px;
	margin-bottom: 0;
}
.errorWrapper{
	width: 1131px;
	margin: auto;
}

    </style>
{% endblock %}

{% block content %}
<div>
	<div class="content clearfix">
		<div class="groupsMenu">
			<div class="createNewGroupWrapper clearfix">
				<span class="createNewGroup"><a href="/createNewGroup" >Create New Group</a></span>
			</div>
			<ul>
				{% for board in boardList %}
					<li><a href="#"><div class="menuItem"><span class="greyCircle"></span><span class="groupNameText">{{board['name']}}</span></div></a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="threadsWrapper">
			<div class="createNewThreadWrapper clearfix">
				<div class="createNewThread"><a href="/threadId/createNewConv">Create New Conversation</a></div>
			</div>
		  {%- if page -%} 
		    {% for thread in page['threads'] %}

		      <div class="thread clearfix">
		        <div class="threadFirstPost">
		          <div class="threadFirstPostImageWrapper">
		              <img src="/thumb?height=125&width=125&fileId={{ thread['posts'][0].fileinfo['databaseId'] }}">
		          </div>
		          <div class="threadFirstPostRight">
		            <div class="threadFirstPostTitle">
            		<a href="">
		              <span class="threadTitle">{{ thread['subject'] }}</span>
           			</a>
		            </div>
		            <div class="threadFirstPostMessage">
		              {{ thread['posts'][0].message }}
		            </div>
		          </div>
		        </div>
		      </div><!--/thread-->
		    {% endfor %}
		  {% endif %}
		</div><!--/threadsWrapper--> 
	</div>
</div>
{% endblock %}


{%block modals %}


{% endblock %}