{% extends "baseLayout.html" %}

{% block topLink %}
<a href='/' class="topbarLink"> {{boardName}}</a>  > <a href='/thread/{{ thread['threadId'] }}' class="topbarLink"> Thread {{ thread['threadId'] }} </a>
{% endblock %}

{% block head %}
    <link href="/static/threadStyle.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="threadsWrapper">
  <div class="thread clearfix">
    <div class="threadFirstPost">
       <div class="threadFirstPostImageWrapper">
        <a href="/static/storage/{{thread['posts'][0].fileinfo['filename']}}">
          <img src="/thumb?height=250&width=250&fileId={{ thread['posts'][0].fileinfo['databaseId'] }}">
        </a>
      </div>
      <div class="threadFirstPostRight">
        <div class="threadFirstPostTitle">
          <span class="threadTitle">{{ thread['subject'] }}</span> - Thread id: {{ thread['threadId'] }} by {{thread['posts'][0].creatorName}}
        </div>
        <blockqoute class="threadFirstPostMessage">
          {{ thread['posts'][0].message }}
        </blockqoute>
      </div>
    </div>
    {% for post in thread['posts'] %}
      {% if post != thread['posts'][0] %}
        <div class="postWrapper">
          <div class="post">
            <div class="postHeader">
              <span class="postHeaderSpan postHeaderUsername">{{post.creatorName}} -</span><span class="postHeaderSpan postHeaderPostId">Post id: {{post.postId}}</span>
            </div>
            <div class="postContents clearfix">
              <div class="postImageWrapper">
                {% if post.attachedFileId != 'NULL' %}
                  <a href="/static/storage/{{post.fileinfo['filename']}}">
                    <img class="postImage" src="/thumb?height=125&width=125&fileId={{ post.attachedFileId }}">
                  </a>
                {% endif %}
              </div>
              <div class="postMessageWrapper">
                <div class="postMessage">
                  {{ post.message }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div><!--/thread-->
  <div class="formWrapper">
    <div class="newThreadForm">
      <form action="/board/{{boardId}}/thread/{{threadId}}/post" method="post"  enctype="multipart/form-data">
        <textarea name="postContent" class=""></textarea>
        <span class="threadSubTitle">File:</span>
        <input name="photo" type="file">
        <input class="submitButton" type="submit">
      </form>
    </div>
  </div>
</div><!--/threadsWrapper--> 
{% endblock %}
